<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
<h1>{{ name }}</h1>
{{ born_on }} - {{ died_on }}<br />
email: {{ person.email }}<br />
facebook: {{ person.facebook }}<br />
twitter: {{ person.twitter }}<br />
website: <a href="http://{{ person.website }}">link</a><br />
address: {{ person.postal_address }}
<ul>
    {% for each in repin %}
        <li><a href="{% url 'constituency' each.for_constituency.name %}">{{ each.for_constituency.name }}</a> in <a href="{% url 'party' each.for_party.name %}">{{ each.for_party.name }}</a></li>
    {% endfor %}
</ul>
</body>
</html>